<h1>Listing admin_mail_forms</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_mail_forms.each do |admin_mail_form| %>
  <tr>
    <td><%= link_to 'Show', admin_mail_form %></td>
    <td><%= link_to 'Edit', edit_admin_mail_form_path(admin_mail_form) %></td>
    <td><%= link_to 'Destroy', admin_mail_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mail form', new_admin_mail_form_path %>
