<tr>
  <th><%= image_tag @icon_image, class: "icon" %><%= link_to blog.title, blog %></th>
  <th style="font-weight:normal" class="text_right"><%= l blog.created_at %></th>
</tr>
<tr>
  <td colspan="2"><%= raw to_br(blog.contents1).html_safe %></td>
</tr>
