<tr><td>
  <%= updated_information.display_at %><br />
  <span class="label" <%= updated_information.mini_label_option %>"><%= updated_information.mini_label %></span>
  <%= link_to updated_information.title, updated_information_path(updated_information.id) %>
</td></tr>
