<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to t("title.top"), root_path, class: "brand" %>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to t("menu.top"), root_path %></li>
          <li><%= link_to t("menu.blog"), blogs_path %></li>
        </ul>
      </div>
     </div>
  </div>
</div>

 
