  <% if @blog_comment.errors.any? %>
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
      <%= t("activerecord.errors.template.header.other", count: @blog_comment.errors.count) %>
      <ul>
      <% @blog_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @blog_comment, html: {class: "form-horizontal"}, url: {action: "create"} do |f| %>
  <%= render partial: "form", locals: {f: f} %>
<% end %>
